/build/
/dist/
__pycache__/
*.py[cod]
gschemas.compiled
/extension/locale/
*.so
.venv/
.ruff_cache/
/debian/.debhelper/
/debian/ubuntu-dock-folders/
/debian/files
/debian/*.debhelper.log
/debian/*.substvars
